@import '../../constants.scss';
.card {
    width: 200px;
    margin: 20px;
    border: 1px solid $grey;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    position: relative;
    img {
        width: 200px;
    }
    &:hover {
        border: 1px solid $black;
        .moreInfo {
            display: block;
            
        }
    }

    .content{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 10px;
        .buttons {
            display: flex;
            justify-content: flex-end;
            & > div {
                padding-left: 10px;
            }
        }
        h2 {
            font-size: 1em;
            margin: 0;
            width: 100%;
            word-wrap: normal;
            overflow-wrap: break-word;
            span{
                font-size: 0.8em;
                color: $grey;
            }
        }
        .overview{
            display: none;
        }
    }
    .moreInfo { 
        display: none;
        padding: 0 15px;
        white-space: normal;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.7);
        height: 300px;
        top: 0px;
        overflow-y: auto;
        font-size: 0.8em;
    }
}

@media (max-width: 769px) {
    .card {
        width: 100%;
        display: flex;
        .image{
            flex: 0 0 100px;
            align-items: center;
            display: flex;
            img {
                width: 100px;
                padding: 5px;
            }
        }
        
        &:hover {
            .moreInfo {
                display: none;
            }
        }
        .content{
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            .overview{
                display: flex;
                margin: 0;
                flex: 0 0 auto;
                flex-wrap: wrap;
                max-height: 80px;
                overflow-y: auto;
            }
        }
    }
}