@import '../../constants.scss';
.search_wrapper {
    display: flex;
    flex-direction: column;
    .logoImg{
        display: block;
        margin-left: auto;
        width: 250px;
        margin-right: auto;
    }

    form#searchForm{
        display: flex;
        padding-bottom: 1em;
        justify-content: center;
       input[type=text]{
        border-radius: 10px 0 0 10px;
        display: flex;
        padding: 10px;
        font-size: 17px;
        border: 1px solid $grey;
        background: #f1f1f1;
        flex: 0 0 60%;
       }
       button {
        border-radius: 0 10px 10px 0;
        padding: 10px;
        background: $primary;
        color: white;
        font-size: 17px;
        border: 1px solid $grey;
        border-left: none;
        cursor: pointer;
        &:hover{
            background: $primary_dark;
        }
       }
    }
}